# install sentence transformers:  https://www.sbert.net/docs/usage/semantic_textual_similarity.html
#pip install sentence-transformers
transformers
click
pylint
black
pytest
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
